# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IDEs
*.iml
*.ipr
*.iws
.idea/

# VS Code
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
generated_plugin_registrant.dart

# Obfuscation/Symbolication related
app.*.symbols
app.*.map.json

# Android build output
/android/.gradle/
/android/captures/
/android/app/debug
/android/app/profile
/android/app/release
/android/key.properties
/android/local.properties

# iOS/macOS
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/
/ios/Pods/
/ios/.symlinks/
/ios/Runner.xcworkspace
/ios/build/
/macos/Flutter/ephemeral/
/macos/Pods/
/macos/.symlinks/
/macos/build/

# Xcode
*.xcuserstate
*.xcworkspace
*.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj/xcuserdata
