<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blazesmoker.fanotifier"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.blazesmoker.fanotifier.FANotifier"
        android:label="FA Notifier"
        android:requestLegacyExternalStorage="true"
        android:icon="@drawable/fathemed"
        >

        <activity
            android:name="com.blazesmoker.fanotifier.MainActivity"

            android:exported="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"/>
        </activity>


        <activity-alias
            android:name="com.blazesmoker.fanotifier.AdaptiveAlias"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_adaptive_generated"
            android:exported="true"
            android:targetActivity="com.blazesmoker.fanotifier.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>


        <service
            android:name="be.tramckrijte.workmanager.WorkmanagerPlugin"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver
            android:name="be.tramckrijte.workmanager.WorkmanagerBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.RESTART"/>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>


        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>


    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
